@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext);

html, body {
	min-height: 100%;
}

body {
	font-family: Open Sans, Tahoma, Arial, Helvetica, sans-serif;
}

input {
	box-sizing: border-box;
}

.btn-info {
	border-width: 1px;
}

.auth_title-authors::before,
.show_pwd::after,
.auth_ad__block::after {
	background: url('../i/sprite.png') no-repeat;
}

/*body*/.auth,
body.personal {
	background: url('../i/auth_bg.jpg');
	background-size: cover;
	padding-bottom: 100px;
}

.logo {
	width: 150px;
	height: 23px;
}

.logo-auth {
	margin: 0 auto;
}

.auth_header {
	height: 100px;
	padding-top: 60px;
}

.auth_content {
	background: rgba(255,255,255, .5);
	color: #FFF;
}

.auth_content-login {
	margin-top: 160px;
}

.auth_title {
	padding-bottom: 15px;
	font-weight: 300;
	font-size: 36px;
	color: #fff;
}

.auth_title-authors {
	position: relative;
	padding-top: 50px;
	text-align: center;
}

.auth_title-authors::before {
	content: '';
	width: 52px;
	height: 30px;
	display: block;
	background-position: 0 0;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.auth_content__login,
.auth_content__register {
	background: rgba(0,0,0,.2);
	z-index: 0;
}

.auth_content__login {
	padding: 55px 40px 65px;
}

.auth_content__register {
	padding: 35px 55px 40px;
}

.auth_form .form_row + .form_row {
	margin-top: 14px;
}

.auth_form .form_row + .form_row-chkbx {
	margin-top: 8px;
}

.auth_input {
	width: 100%;
	height: 48px;
	padding: 0 18px;
	color: #4c4c4c;
	border: none;
	border-radius: 3px;
}

.error_field {
	background: #ffd9d9;
	color: #ff403b;
}

.auth_submit {
	width: 100%;
	height: 48px;
	font-size: 18px;
}

.auth_input-login_pass {
	padding-right: 135px;
}

.login_pass {
	position: relative;
}

.login_pass__remind,
.login_pass__enter {
	font-size: 13px;
	font-weight: 300;
	color: #53539D;
	position: absolute;
	top: 4px;
	right: 15px;
	cursor: pointer;
}

.login_pass__enter {
	display: none;
}

.auth_content__login_alt {
	padding-top: 135px;
	padding-bottom: 60px;
	text-align: center;
	color: #fff;
}

.auth_content__login_alt .auth_title {
	padding-bottom: 5px;
}

.auth__reg_btn {
	padding: 14px 0;
	display: block;
	text-align: center;
	font-size: 18px;
}

.auth_content__login_alt .auth__reg_btn {
	margin-top: 30px;
}


.auth_content-register {
	margin-top: 60px;
}


/**************************************************************************/
/*                                 INDEX                                  */
/**************************************************************************/

body.index,
body.help,
body.help_question,
body.document,
body.contacts,
body.settings,
body.portfolio,
body.upload {
	background: #474e67; 
	background: -moz-radial-gradient(center, ellipse cover,  #474e67 0%, #272c3c 100%); 
	background: -webkit-radial-gradient(center, ellipse cover,  #474e67 0%,#272c3c 100%); 
	background: radial-gradient(ellipse at center,  #474e67 0%,#272c3c 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474e67', endColorstr='#272c3c',GradientType=1 );
/*
	background: url('../i/PressFoto-S.jpg') 0 0;
	opacity: 0.7;
*/

}

body > .container-fluid {
	padding: 0;
	position: relative;
}

.notification {
	font-size: 15px;
	color: #fff;
	width: 100%;
	min-height: 33px;
	box-sizing: border-box;
	padding: 5px 0px;
	text-align: center;
	position: relative;
}

.notification + .notification {
	border-top: 1px solid #fff;
}

.notification-feature {
	background: #598f83;
}

.notification-maintenance {
	background: #2f327b;
}

.notification-other {
	background: #8a6943;
}

.notification__close {
	position: absolute;
	top: 0px;
	right: 7px;
	font-size: 32px;
	font-weight: 300;
	color: #fff;
	line-height: 32px;
	cursor: pointer;
}

.notification__close:before{
	content: "×";
	display: block;
}

.menu {
	padding: 22px 14px;
	text-align: center;

}

.logo-main {
	margin: 0 auto;
	width: 151px;
	height: 24px;
}

.menu .upload_button {
	margin-top: 51px;
	font-size: 13px;
	font-weight: 300;
	padding: 0px 24px 0 64px;
	position: relative;
}

.menu_blocks {
	margin-top: 40px;
	text-align: left;
}

.menu_block {
	padding-bottom: 15px;
}

.menu_block + .menu_block {
	border-top: 1px solid #424756;
}

.submenu {
	margin-left: 60px;
	paddin-bottom: 15px;
	overflow: hidden;
	display: none;
}

.submenu .menu_block {
	border: none;
	border-bottom: 1px solid #424756;
}

.menu__item {
	position: relative;
}

.menu__link {
	color: #fff;
	font-size: 15px;
	line-height: 32px;
	display: block;
	position: relative;
}

.menu__link:hover {
	color: #ffba00;
}

.menu__link:first-child {
}

.menu__link::before {
	font-size: 18px;
	line-height: 32px!important;
	width: 30px;
    display: inline-block;
	text-align: center;
	margin-right: 15px;
}

.menu__arrow {
	margin-left: 5px;
}

.menu__arrow::before {
	transform: rotate(90deg);
	display: inline-block;
	transition: all .3s;
	vertical-align: bottom;
	line-height: 28px!important;
}

.opened .menu__arrow::before {
	transform: rotate(-90deg);
}

.upload_button:before {
	content: "";
	display: inline-block;
	width: 23px;
	height: 18px;
	background-image: url('../i/sprite.png');
	background-position: -17px -325px;
	float: left;
	position: absolute;
	top: 7px;
	left: 23px;
}

.icon-clock:before {
	background-position: -286px -250px;
}

.icon-load:before {
	background-position: -198px -250px;
}

.icon-eye:before {
	background-position: -132px -250px;
}

.icon-alert:before {
	background-position: -264px -250px;
}

.icon-basket:before {
	background-position: 0px -250px;
}

.icon-case:before {
	background-position: -66px -250px;
}

.icon-folders:before {
	background-position: -350px 0;
}

.icon-list:before {
	background-position: -176px -250px;
}

.icon-chart:before {
	background-position: -88px -250px;
}

.icon-coin:before {
	background-position: -110px -250px;
}

.icon-purse:before {
	background-position: -220px -250px;
}

.icon-star:before {
	background-position: -242px -250px;
}

.icon-calc:before {
	background-position: -44px -250px;
}

.icon-hammer:before {
	background-position: -154px -250px;
}

.icon-bell:before {
	background-position: -22px -250px;
}

.icon-clock:hover:before {
	background-position: -286px -272px;
}

.icon-load:hover:before {
	background-position: -198px -272px;
}

.icon-eye:hover:before {
	background-position: -132px -272px;
}

.icon-alert:hover:before {
	background-position: -264px -272px;
}

.icon-basket:hover:before {
	background-position: 0px -272px;
}

.icon-case:hover:before {
	background-position: -66px -272px;
}

.icon-list:hover:before {
	background-position: -176px -272px;
}

.icon-chart:hover:before {
	background-position: -88px -272px;
}

.icon-coin:hover:before {
	background-position: -110px -272px;
}

.icon-purse:hover:before {
	background-position: -220px -272px;
}

.icon-star:hover:before {
	background-position: -242px -272px;
}

.icon-calc:hover:before {
	background-position: -44px -272px;
}

.icon-hammer:hover:before {
	background-position: -154px -272px;
}

.icon-bell:hover:before {
	background-position: -22px -272px;
}

.round_counter,
.messages_count-wrapper {
	position: absolute;
	text-align: right;
	right: 0px;
	top: 6px;
	width: 40px;
}

.round_counter__count,
.messages_count {
	display: inline-block;
	background: #ff5f41;
	color: #fff;
	min-width: 21px;
	height: 21px;
	text-align: center;
	border-radius: 10px;
	line-height: 21px;
	font-size: 12px;
	padding: 0 6px;
	box-sizing: border-box;
}

.round_counter__count-yellow {
	background: #ffba00;
	color: #000;
}

.workspace {
	background: #f2f2ff;
	padding: 0;
	min-height: 745px;
}

.toolbar {
	height: 69px;
	background: #fff;
	padding: 7px 0px 11px;
	box-sizing: border-box;
	border-bottom: 1px solid #d1d5e7;
}

.toolbar__item-money {
	position: relative;
	cursor: pointer;
}

.toolbar__label {
	background: #ffba00;
	border-radius: 3px;
	position: relative;
}

.toolbar__label:after {
	content: "";
	display: block;
	border: 5px solid transparent;
	border-left: 5px solid #ffba00;
	position: absolute;
	top: calc(50% - 4px);
	right: -9px;
}

.balance_info {
	display: none;
	position: absolute;
	border: 1px solid #d1d5e7;
	background: #fff;
	width: 200px;
	z-index: 2;
	top: 46px;
	left: -23px;
}

.toolbar__item-money:hover .balance_info {
	display: block;
}

.balance_info:before {
	position: absolute;
	margin: auto;
	top: -7px;
	left: 0;
	right: 0;
	width: 12px;
	height: 12px;
	content: " ";
	background: #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	border-top: 1px solid #d1d5e7;
	border-left: 1px solid #d1d5e7;
}

.balance_info__all {
	font-size: 13px;
	line-height: 41px;
	font-weight: 700;
}

.balance_info__income {
	background: #2f327b;
	color: #fff;
}

.balance_info__income:before {
	content: "";
	display: inline-block;
	float: left;
	background: url('../i/sprite.png');
	background-position: -110px -250px;
	width: 21px;
	height: 21px;
	margin: 10px 16px;
}

.balance_info__sold {
	
}

.balance_info__sold:before {
	content: "";
	display: inline-block;
	float: left;
	background: url('../i/sprite.png');
	background-position: -220px -272px;
	width: 21px;
	height: 21px;
	margin: 10px 16px;
}

.balance_info__income, 
.balance_info__sold { 
	font-size: 13px;
	font-weight: 300;
	text-align: left;
	padding: 8px 0px;
}

.balance_info__income span, 
.balance_info__sold span {
	display: block;
	font-size: 18px;
}

.toolbar__part {
	float: left;
	box-sizing: border-box;
	height: 50px;
}

.toolbar__part-info {
	width: calc(100%  - 255px);
}

.toolbar__part-user {
	width: 255px;
	padding-left: 25px;
	position: relative;
}

.toolbar__part + .toolbar__part {
	border-left: 1px solid #f2f2ff;
}

.user {
	position: relative;
	overflow: hidden;
}

.user__name {
	color: #53539d;
	font-size: 15px;
	font-weight: 700;
	float: left;
	line-height: 50px;
}

.user__photo {
	margin-left: 14px;
	padding: 6px 0px;
	float: left;
	position: relative;
}

.user__photo .messages_count-wrapper {
	top: 0px;
}

.user__photo img{
	max-height: 40px;
	border-radius: 50%;
}

.user__status {
	float: left;
	background: #ffba00;
	border-radius: 3px;
	color: #000;
	font-weight: 700;
	font-size: 15px;
	padding: 0 9px;
	margin-left: 14px;
	margin-top: 15px;
	line-height: 20px;
}

.toolbar__item {
	float: right;
	width: 120px;
	padding: 15px 0;
	font-size: 15px;
	text-align: center;
}

.toolbar__label {
	background: #ffba00;
	border-radius: 3px;
	padding: 0 6px;
	margin-right: 6px;
}

.content {
	padding: 25px 14px 25px 20px;
	position: relative;
}

.document .content {
	~background: url('../i/document.jpg') no-repeat 0px 0px;
}

.content__header {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: -6px 0 15px;
}


.block {
	background: #fff;
	/*min-height: 260px;*/
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.block + .block {
	margin-top: 25px;
}

.block__header {
	font-size: 13px;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	letter-spacing: 1px;
	border-bottom: 1px solid #f2f2ff;
	padding: 11px 29px;

}

.block__content {
	overflow: hidden;
	padding: 26px 9px;
}

.info_block {
	color: #fff;
	width: 179px;
	height: 180px;
	box-sizing: border-box;
	display: table;
	font-weight: 300;
	text-align: center;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.info_block__info {
	background: #2f327b;
}

.info_block__wait {
	background: #598f83;
}

.info_block__cancel {
	background: #8a6943;
}

.info_block__inner {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	display: table-cell;
	vertical-align: middle;
}

.info_block span {
	font-size: 70px;
	font-weight: 300;
	line-height: 85px;
}

.block__content__header {
	color: #2f327b;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 11px;
}

.block__header__link {
	color: #53539d;
	font-size: 12px;
	position: absolute;
	top: 12px;
	right: 30px;
}

.block__header__link:after {
	content: "";
	display: inline-block;
	background: url('../i/sprite.png') no-repeat;
	background-position: 0 -325px;
	width: 4px;
	height: 7px;
	margin-left: 6px;
}

.block__content__text {
	font-size: 13px;
	line-height: 1.2;
	text-align: center;
}

.bought_content {
	padding: 0 15px;
}

.bought_content.empty {
	margin-top: 29px;
	text-align: center;
	height: 163px;
}

.bought_content .upload_button {
	background: #2f327b;
	margin-top: 26px;
	font-size: 13px;
	font-weight: 300;
	padding: 0px 24px 0 64px;
	position: relative;
}

.issue_img {
	display: inline-block;
}

.issue_img a {
	position: relative;
	display: inline-block;
}

.news_item {
	float: left;
	overflow: hidden;
	padding-left: 20px;
	width: 50%;
	box-sizing: border-box;
	margin-bottom: 17px;
}

.news__header {
	font-size: 15px;
	color: #000;
	margin: 6px 0 0px;
}

.news__info {
	color: #b2b2b2;
	font-size: 13px;
}

.news__info-author {
	color: #3db5f0;
}

.news__logo {
	float: left;
	margin-right: 13px;
}

.news__info-wrapper {
	float: left;
}

/*
--------------------------------------------------
$FOOTER
--------------------------------------------------
*/

.footer {
	margin: auto;
	height: 320px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 1px;
	z-index: 2;
}

.go_to_mobile_version {
	display: block; 
	color: #AEB3CC; 
	margin-top: 5px; 
	font-size: 15px;
}

.issue_btns ~ .footer {
	margin-bottom: 44px;
}

.footer_wrapper
{
	height: 260px;
	margin: 0px auto;
	text-align: center;
	font-size: 0px;

}

.footer_center {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer_column
{
	height: 90%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	position: relative;
	
}


.footer_column_header
{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 32px;
}

.footer_column ul li
{
	display: block;
	margin-bottom: 10px;
	list-style: none;
}

.footer_column .footer_menu_link
{
	font-size: 14px;
	line-height: 14px;
}

.footer_logo img
{
	margin-bottom: 16px;
}

.footer__menu_social_wrapper {
	overflow: hidden;
}

.footer__menu_social_wrapper li {
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 4px;
}

.footer__menu_social {
	background: url('../i/social_icons.png') no-repeat;
	width: 30px;
	height: 30px;
	display: block;
}

.footer__menu_social.ig
{
	background-position: 0px 0px;
	margin-left: 2px;
}

.footer__menu_social.vk
{
	background-position: -33px 0px;
	margin-left: 2px;
}

.footer__menu_social.fb
{
	background-position: -66px 0px;
}

.footer__menu_social.pin
{
	margin-left: 2px;
	background-position: -99px 0px;
}

.footer--user_field
{
	display: block;

}

.footer--user_act
{
	float: left;
}

.footer--user_act + .footer--user_act
{
	margin-left: 4px;
}

.footer--login_link
{
	display: inline-block;
  padding: 0 16px;
  line-height: 32px;
  background: #dbdbdb;
  border-radius: 3px;
  font-size: 14px !important;
}

.footer--login_link:hover
{
	color: #5e5e5e;
	background: #d1d1d1;
}

.footer--registration_link
{
	display: inline-block;
  padding: 0 16px;
  font-size: 14px !important;
  line-height: 32px;
  border-radius: 3px;
  background: #fdb913;
  color: #5e5e5e;
}

.footer--registration_link:hover
{

	background: #fcca14;
	color: #5e5e5e;
}

.footer_register,
.footer_login {
	display: inline-block;
	font-weight: 400;
	padding: 0px 16px;
	margin-right: 8px;
	margin-bottom: 9px;
	float: left;
}

.footer_login {
	border-radius: 3px;
	color: #fff;
}

.footer_site, .footer_blog {
	display: inline-block;
	font-weight: 400;
	padding: 0px 16px;
	margin-right: 8px;
	margin-bottom: 9px;
	float: left;
	color: #fff;
	font-size: 13px;
	border-radius: 3px;
}

.footer_site {
	background: #ffba00;
}

.footer_blog {
	background: #8a6943;
}

.footer_logo {
	/*position: absolute;
	top: 38px;
	left: 50px;*/
	margin-top: 38px;
}

.footer_logo__phone {
	font-size: 24px;
	display: block;
	color: #000;
	margin-top: 1px;
	position: absolute;
	bottom: 35px;
}

.footer_logo__time {
	font-size: 12px;
	display: block;
	color: #595959;
	position: absolute;
	bottom: 64px;
}


.footer_menu {
	text-align: center;
	margin: 40px 0 16px;
}

.footer_menu__item {
	display: inline;
}

.footer_menu__item + .footer_menu__item {
	margin-left: 2%;
}

a.footer_menu__link {
	color: #999;
	font-size: 14px;
}


/*********** dark footer **********/

.wrap {
	position: relative;
	margin-bottom: 320px;
	overflow: hidden;
}

.footer_menu_link {
	color: #AEB3CC;
}

.footer_menu_link:hover {
	color: #fdb913;
}

.footer_column_header {
	color: #D1D6F1;
}

.footer_logo__phone {
	color: #D1D6F1;
}

.footer_logo__time {
	color: #AEB3CC;
}

.copyright {
	color: #AEB3CC;
	display: block;
	text-align: center;
	margin: 13px 0px;
	font-size: 13px;
}

/**********************************/

/* Меню */
.js_menu_background {
	background: rgba(41, 45, 60, 0.75);
	position: fixed;
	top: 0px;
	left: 0%;
	width: 0%;
	right: 0;
	z-index: 10;
	box-sizing: border-box;
	transition: all 0.4s linear;
	top: 0%;
	height: 100%;
	transition: all 0.5s ease-in-out;
}

.js_menu_background.menu_active {
	transition: all 0.4s linear;
	width: 100%;
}


.js_menu_background.cabinet_active {
	transition: width 0.4s linear;
	width: calc(100% - 254px);
	/*width: 100%;*/

}

.cabinet {
	position: fixed;
	background: #fff;
	right: -254px;
	top: 69px;
	height: calc(100% - 69px);
	width: 254px;
	transition: all 0.5s ease-in-out;
	overflow-y: scroll;
}

.cabinet.opened {
	right: 0;
}

.cabinet__user_info {
	padding: 19px 0px 20px;
	margin: 0 13px;
	color: #8e8e8e;
	font-size: 13px;
	border-bottom: 1px solid #d1d5e7;
}

.cabinet__menu {
	margin-top: 10px;
	padding: 4px 8px;
}

.cabinet__menu__item {
	margin-bottom: 1px;
	position: relative;
}

.cabinet__menu__item .messages_count-wrapper {
	right: 0;
	top: 3px;
}

.cabinet__link {
	font-size: 15px;
	color: #000;
	line-height: 31px;
}

.cabinet__link.icon-link:before {
	width: 31px;
	height: 31px;
	top: 0px;
	float: left;
	margin-right: 18px;
}

.icon-settings:before {
	background-position: -185px -294px;
}

.icon-message:before {
	background-position: -92px -294px;
}

.icon-exit:before {
	margin-left: 4px;
	margin-right: 14px !important;
	background-position: -62px -294px;
}

.icon-heart:before {
	background-position: -123px -294px;
}

.icon-cart:before {
	background-position: -31px -294px;
}

.icon-plus:before {
	background-position: 0 -294px;
}

.icon-money:before {
	background-position: -154px -294px;
}


.last_actions {
	margin-top: 15px;
	padding: 0 14px;
	margin-bottom: 40px;
}

.last_actions__header {
	padding: 7px 15px 7px 12px;
	background: #6c6e7a;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	margin-top: 4px;
}

.last_actions__item {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 18px;
}

.last_actions__link {
	color: #53539d;
}

.last_actions__item.icon-link:before {
	width: 31px;
	height: 31px;
	float: left;
	top: 3px;
	margin-right: 13px;
}

.to_all_actions {
	width: 100%;
	display: block;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	text-align: center;
	line-height: 32px;
	border-radius: 0;
	font-weight: 600;
}

.to_all_actions:after {
	content: "";
	display: inline-block;
	background: url('../i/sprite.png') no-repeat;
	background-position: 0 -325px;
	width: 4px;
	height: 7px;
	margin-left: 6px;
}

.cabinet_open {
	background: url('../i/sprite.png') no-repeat;
	background-position: -40px -325px;
	width: 7px;
	height: 15px;
	margin-left: 6px;
	position: absolute;
	top: 16px;
	right: 10px;
	padding: 0;
}


/*************************************************/
/*                   CONTACTS	  		    	 */
/*************************************************/

.contacts_list {
	overflow: hidden;
	display: block;
	margin-top: 23px;
	margin-bottom: 23px;
}

.contacts_item {
	float: left;
	display: block;
	text-align: left;
	margin-bottom: 25px;
	margin-left: 36px;
	width: 100%;
}

.contacts_item-img {
	display: block;
	float: left;
	margin-top: 30px;
}

.contacts_item-info {
	float: left;
	margin-left: 20px;
	width: calc(100% - 110px);
}

.contacts_item-title {
	color: #ffba00;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	margin-bottom: 8px;
	font-weight: 700;
}

.contacts_item-name {
	font-size: 30px;
	color: #000;
	font-weight: 300;
	line-height: 50px;
}

.contacts_item-link {
	color: #2f327b;
	display: block;
	overflow: hidden;
	font-size: 15px;
	float: left;
}

.contacts_item-link:hover {
	color: #ffba00;
}


.contacts_item-link + .contacts_item-link:before {
	content: "·";
	padding: 0px 10px;
}


.contacts_item-link:first-child {
	padding-left: 0px;
}


.contacts_item-link.skype:before {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	content: "";
	margin-right: 4px;
	margin-top: 4px;
	background: url('../i/sprite.png');
	background-position: -47px -326px;

}

.contacts_item-button {
	display: block;
	float: left;
	font-weight: 400;
	font-size: 15px;
	padding: 0 16px;
	clear: both;
	margin-top: 24px;
	line-height: 28px;
}


.contacts__map iframe {
	width: 100%;
	height: 220px;
}

.contacts__info .phone {
	
	font-weight: 300;
	margin-top: 39px;
	margin-bottom: 21px;
	float: none;
	margin-left: 88px;
}

.contacts__info .phone a {
	font-size: 36px;
	color: #000;
}

.contacts__info .address {
	font-size: 18px;
	line-height: 30px;
	color: #000;
	margin-left: 90px;
}

.contacts__credits {
	margin-left: 90px;
	font-size: 15px;
	margin-top: 24px;
}

.contacts__credits .credits + .credits:before {
	content: "·";
	padding: 0px 10px;
}

.feedback_form {
	margin-left: 93px;
}

.feedback_form_row {
	text-align: left;
	margin-bottom: 14px;
	overflow: hidden;
	position: relative;
}

.feedback_label {
	display: inline-block;
	margin-right: 19px;
	width: 120px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 13px;
	margin-top: 10px;
}

.feedback_input,
.feedback_txtarea {
	width: calc(100% - 91px);
	height: 48px;
	padding: 0 7px;
	border: 1px solid #c0c0c0;
	background-color: #fff;
	font-size: 15px;
	border-radius: 4px;
}

.feedback_txtarea {
	height: 140px;
	padding: 5px 7px;
	overflow: auto;
	resize: vertical;
	float: left;
	box-sizing: border-box;
}


.feedback_info_msg {
	width: 315px;
	margin-left: 132px;
	display: block;
}

.btn_feedback_ask {
	width: calc(100% - 91px);
	padding: 0 68px;
	font-size: 18px;
}

.error_field .feedback_label {
	color: #ff3e3e;
}

.error_field .feedback_input,
.error_field .feedback_txtarea {
	border-color: #ff3e3e;
}


.error_field .feedback_input::-webkit-input-placeholder, .error_field .feedback_txtarea::-webkit-input-placeholder {color:#ff3e3e;}
.error_field .feedback_input::-moz-placeholder, .error_field .feedback_txtarea::-moz-placeholder {color:#ff3e3e;}/* Firefox 19+ */
.error_field .feedback_input:-moz-placeholder, .error_field .feedback_txtarea:-moz-placeholder {color:#ff3e3e;}/* Firefox 18- */
.error_field .feedback_input:-ms-input-placeholder, .error_field .feedback_txtarea:-ms-input-placeholder {color:#ff3e3e;}


.message_success {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: calc(100% - 171px);
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
	z-index: 3;
	text-align: center;
	box-sizing: border-box;
	padding: 96px 0px 0px;
	display: none;
}

.modal_window__body .message_success {
	position: relative;
	padding: 0;
	display: block;
}

.message_success_header {
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
	margin-top: 31px;
	margin-bottom: 10px;
}

.message_success_close {
	font-size: 18px;
	color: #5c5ccc;
}

.message_success_text {
	font-size: 18px;
}

.message_success_close:hover {
	color: #cc5c5c;
}

.contacts__form {
	margin-top: 35px;
	margin-bottom: 48px;
}

.contacts_info_block-header {
	margin-left: 90px;
	font-size: 36px;
	margin-bottom: 9px;
}

.tick {
	font-size: 96px;
	line-height: 96px;
	width: 96px;
	height: 96px;
	margin: auto;
	color: #ffba00;
}


/*************************************************/
/*                    UPLOAD	  		    	 */
/*************************************************/

.upload_area {
	border: 3px dashed #2f327b;
	border-radius: 20px;
	margin: 50px 40px;
	text-align: center;
	padding: 56px 0 59px;
	position: relative;
}

.upload_area.success {
	border: none;
	padding: 114px 0 105px;
}

.upload__icon {
	color: #2f327b;
	width: 101px;
	height: 78px;
	font-size: 78px;
	line-height: 78px;
	margin: auto;/*
	background: url('../i/sprite.png');*/
}

/*.uploading .upload__icon{
	background-position: -159px -326px;
}*/

.drag .upload__icon{
	/*background-position: -260px -326px;*/
	margin-top: 60px;
	margin-bottom: 26px;
}

.upload__header {
	text-align: center;
	font-size: 30px;
	margin-top: 29px;
	margin-bottom: 16px;
}

.success .upload__header {
	font-size: 36px;
}

.upload__text {
	font-size: 15px;
	color: #424242;
	text-align: center;
	line-height: 18px;
}

.file_upload_form__file_input  {
	margin: auto;
	margin-top: 22px;
	margin-bottom: -32px;
	width: 150px;
	clear: both;
	height: 32px;
	display: block;
	opacity: 0; 
	left: 0;
	top: 0;
}

.upload__button {
	background: #2f327b;
	color: #fff;
	padding: 0 17px;
	border-radius: 3px;
	cursor: pointer;
}

.upload__button-text {
	font-size: 11px;
	margin-top: 9px;
}

.upload__comment {
	font-size: 13px;
	line-height: 15px;
	margin-top: 19px;
}

.upload__link {
	color: #53539d;
}

.upload__stop {
	position: absolute;
	top: 22px;
	right: 26px;
	color: #2f327b;
	font-size: 11px;
	font-weight: 600;
}


.upload__stop:before {
	content: "×";
	display: inline-block;
	float: left;
	background: #2f327b;
	color: #fff;
	border-radius: 50%;
	margin-right: 5px;
	width: 15px;
}

.drag .upload__stop {
	display: none;
}


/*************************************************/
/*                    REGISTER	  		    	 */
/*************************************************/

.reg_steps {
	height: 100px;
	margin: auto;
	text-align: center;
	font-size: 0;
}

.reg_step {
	width: 6.1%;
	max-width: 58px;
	height: 58px;
	display: inline-block;
	border: 1px dashed #fff;
	color: #fff;
	position: relative;
	text-align: center;
}

.reg_step + .reg_step {
	margin-left: 12.5%;
}

.reg_step + .reg_step::before {
	content: '';
	width: 210%;
	border-top: 1px dashed currentColor;
	position: absolute;
	top: 30px;
	right: 100%;
}

.reg_step.current {
	color: #ffba00;
	border-color: currentColor;
}

.reg_step.current::before {
	border-top-style: solid;

}

.reg_step.completed {
	color: #fff;
	border-color: #ffba00;
	background: #ffba00;
}

.reg_step.completed .reg_step__name {
	color: #ffba00;
}

.reg_step__number {
	font-size: 36px;
	font-weight: 300;
	line-height: 56px;
}

.reg_step__name {
	position: absolute;
	right: -50%;
	bottom: -35px;
	left: -50%;
	font-size: 15px;
}

.auth_input-register_pass {
	padding-right: 50px;
}

.show_pwd {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 10px;
	bottom: 0;
	margin: auto;
	cursor: pointer;
}

.show_pwd::after {
	content: '';
	display: block;
	width: 18px;
	height: 7px;
	background-position: -53px -13px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.show_pwd.active::after {
	height: 12px;
	background-position: -53px 0;
}

.auth_form-checkbox_title {
	font-size: 13px;
	vertical-align: middle;
}

.auth_form__checkbox_label {
	font-size: 0;
	display: block;
}

.link-plain {
	color: #feba00;
}

.xsmall {
	font-size: 11px;
}

.small {
	font-size: 13px;
}

.auth_form__bdate_label {
	float: left;
}

.auth_form__bdate {
	float: right;
}

.auth__reg_btn-double {
	width: 100%;
	padding: 10px 0 13px;
	line-height: 1.1;
}

.switch_form {
	margin-top: 23px;
	width: 100%;
	text-align: center;
	font-size: 15px;
}

.switch_form_button {
	padding: 0 18px;
	margin-left: 10px;
	border-width: 2px;
	line-height: 33px;
}

.auth_content__register_alt {
	padding: 135px 55px 0 55px;
}

.auth_ad .auth_title {
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 20px;
}

.auth_ad__block {
	overflow: hidden;
	margin-bottom: 28px;
	position: relative;
}

.auth_ad__block::before {
	content: '';
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 20px;
	border-radius: 2px;
}

.auth_ad__block-payment::before {background: #fdb913;}
.auth_ad__block-protect::before {background: #2f327b;}
.auth_ad__block-help::before    {background: #008c83;}

.auth_ad__block::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 19px;
	margin: auto;
}

.auth_ad__block-payment::after {
	width: 43px;
	height: 43px;
	background-position: -72px 0;
}

.auth_ad__block-protect::after {
	width: 47px;
	height: 43px;
	background-position: -115px 0;
	left: 16px;
}

.auth_ad__block-help::after {
	width: 44px;
	height: 44px;
	background-position: -164px 0;
}

.dp_select {
	display: inline-block;
	font-size: 15px;
	color: #000;
	background: #fff;
	position: relative;
	border-radius: 4px;
}

.dp_select__current {
	display: block;
	line-height: 48px;
	padding: 0 25px 0 8px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	z-index: 1;
}

.dp_select__list {
	background: #fff;
	line-height: 1.6;
	position: absolute;
	top: 37px;
	right: 0;
	left: 0;
	z-index: 100;
	display: none;
	overflow: hidden;
	border-radius: 0 0 4px 4px;
}

.dp_select__item {
	padding: 0 9px;
	cursor: pointer;
}

.dp_select__item:first-child {
	/*margin-top: 5px;*/
}

.dp_select__item:last-child {
	margin-bottom: 5px;
}

.dp_select__item:hover {
	color: #b60a0e;
}

.dp_select_opened {
	color: #2F327B;
}


.dp_select::before,
.dp_select::after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	right: 8px;
	border: solid transparent;
	border-width: 5px 7px 0;
	border-radius: 5px;
	z-index: 0;
}

.dp_select::before {
	top: 23px;
	border-top-color: currentColor;
}

.dp_select::after {
	top: 21px;
	border-top-color: #fff;
}

.dp_select_opened::before {
	border-top-color: transparent;
	border-bottom-color: currentColor;
	border-width: 0 7px 5px;
}

.dp_select_opened::after {
	border-top-color: transparent;
	border-bottom-color: #fff;
	border-width: 0 7px 5px;
	top: 25px;
}

.auth_content-test_task {
	/*background: url('../i/test2.jpg') top center no-repeat;*/
	margin-top: 65px;
	padding: 31px 80px;
	text-align: center;
	background: rgba(255,255,255, .2);
}

.auth_content-test_task.approving {
	padding: 31px 80px 55px;
}

.auth_content-test_task .auth_title {
	text-align: center;
	padding-bottom: 23px;
}

.auth_content-test_task.approving .auth_title {
	padding-bottom: 12px;
}

.test_task__info_text{
	text-align: center;
	font-size: 15px;
	line-height: 18px;
}

.test_task__info_text + .test_task__info_text {
	margin-top: 18px;
}

.test_task__link {
	color: #ffba00;
}

.test_task__body {
	margin-top: 36px;
	border: 3px dashed #fff;
	padding: 26px 10px 21px;
	border-radius: 20px;
}

.auth_content-test_task.approving .test_task__body { 
	border: none;
	padding-top: 11px;
}

.test_task__instruction {
	font-size: 13px;
	text-align: center;
	margin-bottom: 28px;
}

.test_task__body .file_upload_form__file_input {
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: -150px;
}

.upload_text_task {
	margin-left: 5px;
	padding: 0 22px;
	font-size: 13px;
}

.upload__photos {
	overflow: hidden;
	text-align: center;
}

.upload__photo {
	width: 240px;
	height: 160px;
	display: inline-block;
	margin: 0 10px;
	box-sizing: border-box;
	position: relative;
}

.upload__photo.empty {
	border: 2px dashed #fff;
}

.upload__photo.uploading {
	border: 2px solid #fff;
}

.upload__status {
	width: 70px;
	height: 54px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 53px;
	line-height: 54px;
	margin: auto;
}

.upload__photo.empty::after {
	content: "";
	display: block;
	background: url('../i/sprite.png');
	background-position: -380px -250px;
	width: 38px;
	height: 39px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.upload__delete_image {
	width: 12px;
    height: 15px;
    position: absolute;
    top: 7px;
    right: 8px;
    padding: 0;
    z-index: 2;
}

.upload__photo.in_progress::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: url('../i/sprite.png');
	background-position: -12px -345px;
	width: 40px;
	height: 40px;
}

.photo_approved {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #ffba00;
}

.photo_ftp {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
	margin: auto;
	line-height: 24px;
	font-size: 24px;
	width: 36px;
	height: 24px;
	color: #fff;
}

.photo_in_progress {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #ffba00;
}

.test_task__subtext {
	font-size: 13px;
	text-align: center;
	line-height: 15px;
	margin-top: 17px;
}

.test_task__submit {
	margin-top: 32px;
	font-size: 18px;
	padding: 0 45px;
}

.test__reason {
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: table;
}

.test__reason__wrap {
	color: #fff;
	font-size: 13px;
	text-align: center;
	line-height: 18px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 20px;
}

.test_task__timer {

}

.timeTo {
	height: 88px !important;
	font-family: open sans !important;
	margin-bottom: 39px;
}

.timeTo.timeTo-white div {
	background: #53539d !important;
	color: #fff !important;
	font-size: 38px;
	border: none !important;
	margin: 0 2px 0 3px !important;
	height: 59px !important;
	width: 30px !important;
	line-height: 45px;
}

.timeTo ul li {
	font-weight: 300;
	font-family: Open Sans;
}

.timeTo span {
	font-family: Open Sans;
	font-weight: 300;
	line-height: 54px;
	margin: 0 8px;
}

.timeTo figure {
	max-width: 86px !important;
	width: 71px !important;
}

.timeTo figcaption {
	color: #fff !important;
	font-size: 13px !important;
	line-height: 20px !important;
	width: 71px;
}


/*************************************************/
/*                 PERSONAL DATA  		    	 */
/*************************************************/

.auth_content-personal_data {
	/*background: url('../i/personal_data.jpg') top center no-repeat;*/
	margin: 0 10px;
	margin-top: 65px;
	padding: 31px 0px 16px;
	text-align: center;
	background: rgba(255,255,255, .2);
}

.personal_data__congratulations {
	margin-top: 49px;
	padding: 0 60px;
}

.congrat_icon {
	background: #ffba00;
	width: 80px;
	height: 80px;
	font-size: 40px;
	line-height: 80px;
	float: left;
	border-radius: 3px;
	position: relative;
	margin-right: 19px;
	margin-top: 3px;
}

.congrat_text {
	text-align: left;
	line-height: 18px;
	max-width: 550px;
}

.congrat_text span {
	display: block;
	font-size: 18px;
	margin-bottom: 14px;
}

.personal_data__form {
	margin-top: 20px;
	text-align: left;
}

.personal_data__label {
	font-size: 13px;
	display: table;
	text-transform: uppercase;
	float: left;
	position: relative;
}

.personal_data__input_name {
	width: 229px;
	height: 62px;
	display: inline-block;
	float: left;
	line-height: 15px;
	font-size: 13px;
	font-weight: 700;
	padding-top: 15px;
	box-sizing: border-box;
}

.personal_data__input {
	border: none;	
	border-radius: 3px;
	height: 48px;
	box-sizing: border-box;
	padding: 5px 10px;
	float: left;
	width: 363px;
	font-size: 15px;
	display: none;
}

.personal_data__select {
	display: none;
}

.center.personal_data__label {
	margin-top: -23px;
	margin-bottom: 16px;
}

.center .personal_data__input_name{
	display: table-cell;
	vertical-align: middle;
	float: none;
	padding: 0;
	margin-top: -18px;
	margin-bottom: 9px;
}

.personal_data__row {
	margin-bottom: 14px;
	position: relative;
}

.personal_data__row::after {
  content:"";
  display:table;
  clear:both;
}

.personal_data__row.special {
	margin-bottom: 9px;
}

.personal_data__saved_data {
	float: left;
	width: 363px;
	/*height: 46px;*/
	margin-top: 8px;
	line-height: 24px;
	box-sizing: border-box;
	padding: 0px 16px;
	font-size: 15px;
	position: relative;
	text-transform: none;
}

.center .personal_data__saved_data{
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.personal_data__edit {
	display: block;
	position: absolute;
	width: 21px;
	height: 21px;
	top: 5px;
	right: 18px;
	font-size: 21px;
	color: #ffba00;
}

.editting .personal_data__input,
.editting + .personal_data__select {
	display: inline-block;
}

.center + .personal_data__select {
	margin-top: -11px;
}

.center .personal_data__edit {
	top: 0;
	bottom: 0;
	margin: auto;
}

.editting .personal_data__saved_data,
.editting .personal_data__edit{
	display: none;
}

.field_approved {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 4px;
    right: 10px;
    color: #2d9084;
    font-size: 40px;
    line-height: 40px;
}

.personal_data__block {

}

.personal_data__social {
	margin: 8px 0 7px;
	border-radius: 3px;
	height: 30px;
	width: 84px;
	padding: 0 32px;
	display: block;
	float: left;
	box-sizing: border-box;
	background-origin: content-box;
	background-clip: padding-box;
}

.personal_data__social + .personal_data__social {
	margin-left: 9px;
}

.personal_data__social::before {
	background: url('../i/sprite.png');
	width: 20px;
	height: 30px;
}

.personal_data__social.vk {
	background-color: #5d749b;
}

.personal_data__social.vk::before {
	content: "";
	display: inline-block;
	background-position: 0px -41px;
}

.personal_data__social.fb {
	background-color: #39569e;
}

.personal_data__social.fb::before {
	content: "";
	display: inline-block;
	background-position: -20px -41px;
}

.personal_data__social.gp {
	background-color: #c54d34;
}

.personal_data__social.gp::before {
	content: "";
	display: inline-block;
	background-position: -40px -41px;
}

.personal_data__social.ok {
	background-color: #fb7b00;
}

.personal_data__social.ok::before {
	content: "";
	display: inline-block;
	background-position: -60px -41px;
}

.personal_data__block {
	/*overflow: hidden;
	float: left;*/
	overflow: visible;
	text-transform: none;
	/*min-width: 426px;*/
	width: 363px;
	float: left;
}

.personal_data__subtext {
	color: #8e8e8e;
	font-size: 13px;
	text-transform: none;
	display: block;
	overflow: auto;
	width: 100%;
}

.photo_place {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	font-size: 35px;
	border: 3px dashed #fff;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-right: 26px;
}

.photo_place::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 44px;
	height: 34px;
}

.choose_file-photo,
.choose_file-documents {
	font-size: 13px;
	background: #2f327b;
	border-radius: 3px;
	margin-top: 9px;
	padding: 0 60px;
	display: block;
	margin-bottom: 4px;
	float: left;
}

.personal_data__rows_block {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding: 0 60px;
	padding-bottom: 27px;
}

.personal_data__header {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	margin-top: 33px;
	margin-bottom: 23px;
}

.icon_book::before {
	content: "";
	display: inline-block;
	float: left;
	width: 28px;
	height: 24px;
	background: url('../i/sprite.png');
	background-position: -46px -71px;
	margin-right: 10px;
}

.icon_place::before {
	content: "";
	display: inline-block;
	float: left;
	width: 23px;
	height: 28px;
	background: url('../i/sprite.png');
	background-position: -75px -71px;
	margin-right: 10px;
}

.icon_book.dark::before {
	background-position: -98px -71px;
}

.icon_place.dark::before {
	background-position: -126px -71px;
}



.document_place {
	width: 80px;
	height: 80px;
	border-radius: 20%;
	border: 3px dashed #fff;
	box-sizing: border-box;
	position: relative;
	float: left;
	font-size: 35px;
	margin-right: 26px;
}

.document_place::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: url('../i/sprite.png');
	background-position: 0px -71px;
	width: 44px;
	height: 34px;
}

.input_street {
	width: 216px !important;
	margin-right: 6px;
}

.input_house {
	width: 68px !important;
	margin-right: 6px
}

.input_flat {
	width: 68px !important;
}

.personal_data__rows_block:last-child {
	border-bottom: none;
}

.send_personal_data {
	margin-left: 228px;
	width: 363px;
	font-size: 13px;
	padding: 13px;
	line-height: 18px;
}

.send_personal_data span {
	font-size: 18px;
}

.iti-flag {
	background-image: url("../i/flags.png");
}

.intl-tel-input .country-list {
	color: #000;
}

/**************************************************************************/
/*							    	SETTINGS							  */
/**************************************************************************/

.settings_switcher {
	margin: 31px 40px 0;
	overflow: hidden;
}

.settings__section_name {
	float: left;
	height: 32px;
	line-height: 32px;
	font-size: 15px;
	cursor: pointer;
}

.settings__section_name.active {
	background: #2e2f7d;
	border-radius: 3px;
	color: #fff;
	padding: 0 20px;
}


.settings__section_name.active:hover {
	background: #3a3ba3;
}

.settings__section_name + .settings__section_name {
	margin-left: 20px;
}

.settings__personal_data,
.settings__auth_data,
.settings__notifications_data {
	padding: 27px 0px;
	overflow: hidden;
	z-index: 1;
	position: relative;
}

.settings__documents_data {
	z-index: 1;
	position: relative;
}

.settings__photo_wrap {
	float: left;
}

.settings__photo_wrap img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.settings__fields_wrap {
	float: left;
	margin-left: 211px;
	width: calc(100% - 215px);
}

.settings__photo_wrap + .settings__fields_wrap {
	margin-left: 35px;
}

.reload_photo {
	font-weight: 400;
	display: block;
	margin: auto;
	margin-top: 14px;
	padding: 0 25px;;
	font-size: 13px;
}

.personal_data__form {
	overflow: hidden;
}

.settings__personal_data  .personal_data__input_name {
	width: 182px;
	height: 62px;
	padding-top: 8px;
	box-sizing: border-box;
}

.settings__personal_data  .personal_data__saved_data {
	width: 222px;
	padding: 0;
	margin-top: 2px;
	font-weight: 600;
}

.settings__personal_data .personal_data__row {
	margin-bottom: 0px;
}

.settings__personal_data .personal_data__row.special {
	margin-top: 40px;
	margin-bottom: 22px;
}

.settings__personal_data .personal_data__edit {
	top: 3px;
	margin: auto;
	right: -20px;
	display: none;
}

.personal_data__input_name-subtext {
	font-size: 11px;
	line-height: 15px;
	display: block;
	width: 50%;
	margin-top: 3px;
	text-transform: none;
}

.personal_data__saved_data:hover .personal_data__edit {	
	display: block;
}

.personal_data__input_name.long {
	vertical-align: top;
	padding-top: 21px;
}

.personal_data__input_name.long + .personal_data__block {
	margin-top: 12px;
}

.settings__personal_data .personal_data__social {
	margin: 0 10px 10px 0px;
}

.settings .personal_data__rows_block {
	padding: 0 10px 0 34px;
	padding-bottom: 58px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.settings .personal_data__rows_block:after {
	display: table;
	clear: both;
	content: "";
}

.settings .personal_data__rows_block:last-child{
	border-bottom: none;
}

.settings__personal_data .personal_data__header {
	padding-left: 37px;
	margin-top: 46px;
	margin-bottom: 33px;
	font-weight: 700;
}

.settings__personal_data .personal_data__header:before {
	margin-left: -37px;
}

.settings .dp_select {
	border: 1px solid rgba(0, 0, 0, 0.3);
	text-transform: none;
	margin-top: -3px;
}

.settings .dp_select__list {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	border-top: none;
	left: -1px;
	right: -1px;
	top: 42px
}

.settings .personal_data__input {
	border: 1px solid rgba(0, 0, 0, 0.3);
	width: 245px;
	margin-top: -8px;
}

.folder_place {
	background: url('../i/sprite.png') no-repeat;
	background-position: 0px -105px;
	width: 51px;
	height: 80px;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
}

.renew_file-documents {
	font-size: 13px;
	padding: 0 24px;
	margin-top: 2px;
}

.personal_data__button_subtext {
	display: block;
	float: left;
	line-height: 15px;
	width: 220px;
	margin-top: 6px;
}


.settings__personal_data .personal_data__button_subtext {
	width: 183px;
}

.settings__personal_data .personal_data__subtext {
	/*margin-left: 183px;*/
	width: 100%;
}

.renew_personal_data {
	font-size: 18px;
	padding: 0 30px;
}

.header_question {
	display: inline-block;
	cursor: pointer;
	background: url('../i/sprite.png') no-repeat;
	width: 8px;
	height: 12px;
	background-position: -51px -105px;
	position: relative;
	top: -7px;
	right: -2px;
}

.settings__personal_data .personal_data__block {
	width: calc(100% - 183px); 
}

.personal_data__rows_block:after,
.personal_data__block:after {
	content: "";
	display: table;
	clear: both;
}

.header_question__text {
	display: none;
	position: absolute;
	left: 20px;
	top: -6px;
	background: #fff;
	font-size: 12px;
	text-transform: none;
	border: 1px solid #ddd;
	text-align: left;
	letter-spacing: 0;
	z-index: 2;
	width: 250px;
	padding: 13px 13px;
	box-sizing: border-box;
}

.header_question__text:before {
	position: absolute;
	top: 10px;
	left: -4px;
	width: 5px;
	height: 5px;
	content: " ";
	background: #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	border-bottom: 1px solid #d1d5e7;
	border-left: 1px solid #d1d5e7;
}

.header_question:hover .header_question__text {
	display: block;
}

/*.on_approving .personal_data__saved_data:after {
	content: "";
	display: inline-block;
	background: url('../i/sprite.png');
	background-position: -59px -105px;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 32px;
	top: 0px;
}
*/
.field_on_approving {
	color: #2d9084;
    font-size: 24px;
    position: absolute;
    right: 33px;
    top: 0px;
    display: none;
}

.on_approving .field_on_approving {
	display: block;
}

/***********************************************/

.js_switcher_section {
	display: none;
}

.js_switcher_section.active {
	display: block;
}
/***********************************************/

.settings__auth_data {
	padding: 17px 0px;
}

.settings__auth_data .personal_data__rows_block {
	padding: 0 30px 27px;

}

.settings__auth_data  .personal_data__input_name {
	width: 306px;
}

.settings__auth_data  .personal_data__saved_data {
	width: 320px;
}	

.request_mail_change, .request_password_change {
	font-size: 13px;
	margin-top: 12px;
	width: 194px;
	padding: 0;
	text-align: center;
	display: block;
	box-sizing: border-box;
	font-weight: 600;
}

.personal_data__row + .personal_data__header {
	margin-top: 50px;
}

.settings__auth_data .personal_data__rows_block {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	padding: 0 30px 37px;
}

.settings__auth_data .personal_data__header {
	margin-top: 42px;
	margin-bottom: 15px;
	font-weight: 700;
}

.fullwidth {
	width: 310px !important;
}

.settings__auth_data .personal_data__block {
	width: 300px;
}

.auth_data__subtext {
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	display: block;
	text-transform: none;
	width: 306px;
	padding-right: 11px;
	float: right;
	box-sizing: border-box;
	margin-top: -15px;
	margin-bottom: -5px;
	line-height: 16px;
}

.personal_data__checkbox_label {
	display: block;
	font-size: 13px;
	line-height: 25px;
	font-weight: 400;
}

.personal_data-checkbox_title {
	font-weight: 600;
}

.settings__auth_data .personal_data__checkbox_label:first-child {
	margin-top: 35px;
}

.personal_data__checkbox_label .link-plain {
	color: #2f327b;
}

.save_auth_data {
	margin-top: 45px;
	font-size: 18px;
	padding: 0 82px;
}

.delete_account {
	color: #2f327b;
	font-size: 13px;
	float: right;
	margin-top: 59px;
	margin-right: 6px;
	font-weight: 600;
}

.modal {
	display: none;
}

.modal__delete_request {
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	border: 1px solid #bfbfbf;
	background: #fff;
	width: 334px;
	z-index: 100;
	box-sizing: border-box;
	padding: 40px;
	margin-top: 80px;
	text-align: center;
}

.modal__delete__header{
	font-size: 24px;
	font-weight: 300;
	margin-top: 15px;
}

.modal__delete__text {
	font-weight: 300;
	font-size: 18px;
}

.sad_face {
	background: url('../i/sprite.png');
	background-position: -84px -105px;
	width: 50px;
	height: 50px;
	margin: auto;
}

.cry_face {
	background: url('../i/sprite.png');
	background-position: -134px -105px;
	width: 50px;
	height: 50px;
	margin: auto;
}

.happy_face {
	background: url('../i/sprite.png');
	background-position: -184px -105px;
	width: 50px;
	height: 50px;
	margin: auto;
}

.delete_yes {
	color: #2f327b;
	border: 1px solid #2f327b;
	border-radius: 3px;
	font-size: 13px;
	padding: 0 33px;
	float: left;
	margin-top: 30px;
}

.delete_no {
	font-size: 13px;
	padding: 0 33px;
	float: right;
	margin-top: 30px;
}

.settings__notifications_data .personal_data__rows_block {
	padding: 0 30px;
}


.settings__notifications_data .personal_data__checkbox_label {
	margin-left: 25px;
}

.settings__notifications_data .personal_data__row:first-child .personal_data__checkbox_label {
	margin-top: 27px;
}

.settings__notifications_data .personal_data__checkbox_label {
	margin-bottom: 14px;
}

.settings__notifications_data .personal_data__checkbox_label.main {
	margin-bottom: 14px;
	margin-left: 0;
	margin-top: 0 !important;
}

.save_notify_data {
	font-size: 18px;
	padding: 0 82px;
	margin-top: 17px;
}

.documents__list {
	overflow: hidden;
	padding: 26px 15px 31px 30px;
}

.documents__item {
	float: left;
	width: 310px;
}

.documents__item.type_document:before {
	content: "";
	display: block;
	float: left;
	margin-right: 17px;
	background: url('../i/sprite.png');
	background-position: 0 -105px;
	width: 51px;
	height: 80px;
}

.documents__item.type_pdf {
	width: 330px;
}

.documents__item.type_pdf:before {
	content: "";
	display: block;
	float: left;
	margin-right: 20px;
	background: url('../i/sprite.png');
	background-position: 0 -105px;
	width: 51px;
	height: 84px;
	background-position: -208px 0px;
}

.document__name {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	line-height: 21px;
}

.settings__documents_data {
	min-height: 558px;
}

.documents__info {
	font-size: 13px;
	margin-top: 25px;
}

.view_all_documents {
	margin-left: 30px;
	font-size: 13px;
	line-height: 28px;
	padding: 0 26px;
}

.page_404 {
	background: url("../i/404.jpg") #27303d no-repeat top center;
}	

.special_page__header {
	text-align: center;
}

.logo-special {
	margin: auto;
	margin-top: 8px;
	width: 157px;
}

.special_page__content {
	color: #fff;
	margin-top: 137px;
	text-align: center;
}

.special_page__header {
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 11px;
}

.special_page__subheader {
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	margin-bottom: 84px;
}

.special_page__menu_item {
	font-size: 13px;
	color: #fff;
	margin-bottom: 6px;
}

.special_page__link {
	color: inherit;
}

.special_page__menu_header {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 6px;
}

.special_page__menu {
	text-align: left;
}

.special_page__menu_block {
	margin-bottom: 22px;
}

.special_page__to_main {
	margin: auto;
	margin-top: 65px;
    font-size: 18px;
    font-weight: 300;
    padding: 0 50px;
}

/************************************************/
/* 					PORTFOLIO 					*/
/************************************************/
.portfolio {
	font-size: 13px;
}

.porfolio_toolbar {
	height: 48px;
	position: relative;
	background: #fff;
}

.porfolio_tool {
	line-height: 48px;
	float: left;
	color: #2f327b;	
	cursor: pointer;
	margin-left: 40px;
	position: relative;
}

.porfolio_tool:hover {
	color: #3b3fa0;	
}

.porfolio_tool::before {
	font-size: 15px;
}

.porfolio_tool:first-child {
	margin-left: 10px;
}

.porfolio_tool .checkbox {
	top: 12px;
}

.toolbar_popup {
	position: absolute;	
	border: 1px solid #d1d5e7;
	z-index: 10;
	background: #fff;
	color: #000;
	top: 44px;
	cursor: auto;
	opacity: 0;
	pointer-events: none;
	transition: opacity .1s;	
}

.show_popup .toolbar_popup {
	display: block;
	opacity: 1;
	pointer-events: all;
}

.toolbar_popup-allow {
	width: 200px;
	left: 10px;
}

.toolbar_popup-remove {
	width: 200px;
	right: 0;
}

.toolbar_popup-types {
	left: -44px;
}

.toolbar_popup-addtocollection {
	left: -44px;
}

.toolbar_popup::after {
	content: '';
	border-top: 1px solid #d1d5e7;
	border-left: 1px solid #d1d5e7;
	position: absolute;
	left: 10px;
	top: -5px;
	transform: rotate(45deg);
	display: block;
	width: 8px;
	height: 8px;
	background: #fff;
}

.toolbar_popup-types::after {
	left: 50px;
}

.toolbar_popup-addtocollection::after {
	left: 110px;
}

.toolbar_popup-allow::after {
	left: 95px;
}

.toolbar_popup-remove::after {
	left: auto;
	right: 20px;
}

.toolbar_popup__header {
	text-transform: uppercase;
	line-height: 48px;
	font-weight: 700;
	padding: 0 18px;
	white-space: nowrap;
}

.toolbar_popup__option_list {
	
}
	
.toolbar_popup__option {
	line-height: 24px;
	padding: 0 18px;
	cursor: pointer;
}

.toolbar_popup__option:hover { 
	background: #2f327b;
	color: #fff;
	
}

.toolbar_popup__input {
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	line-height: 30px;
	box-sizing: border-box;
	margin: 8px 18px 12px;
	padding-left: 4px;	
	display: block;
	width: calc(100% - 36px);
    box-sizing: border-box;
}

.toolbar_popup__button {	
	line-height: 32px;	
	display: block;
}

.toolbar_popup__button-fullwidth {
	width: 100%;
	color: #fff;
	background: #2f327b;	
}

.toolbar_popup__button-fullwidth:hover {
	background: #3b3fa0;	
}

.toolbar_popup__button-allow {
	background: #2f327b;
	border: 1px solid #2f327b;
	color: #fff;
	border-radius: 2px;
	float: left;
	margin-left: 18px;
	margin-bottom: 18px;
}

.toolbar_popup__button-cancel {
	border: 1px solid #2f327b;
	color: #2f327b;
	border-radius: 2px;
	float: right;
	margin-right: 18px;
	margin-bottom: 18px;
}

.icon-plus::before {
	content: '+';
	font-size: 30px;
	font-weight: 300;
	vertical-align: bottom;
	margin-right: 6px;
}

.portfolio_search {
	margin-top: 18px;
	border: 1px solid #bfbfbf;
	background-color: #fff;
	border-radius: 2px;
	overflow: hidden;
	position: relative;
	
}

.portfolio_search__string {
	border: 0;
	padding: 0;
	line-height: 46px;
	display: block;
	float: left;
	width: calc(100% - 46px);
	box-sizing: border-box;
	padding-left: 10px;
	opacity: 0;
	transition: opacity .1s;
}

.portfolio_search__string:focus {
	outline: none;
	opacity: 1;
}

.portfolio_search__btn {
	height: 46px;
	width: 46px;
	float: right;
	position: relative;
}

.portfolio_search__btn::before {
	content: "";
	height: 20px;
	width: 20px;
	background-image: url('../i/sprite.png');
	background-position: -315px 0;
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.portfolio_search__words {
	position: absolute;
	height: 100%;
	max-width: calc(100% - 46px);
	padding-left: 10px;
	box-sizing: border-box;
	padding-top: 7px;	
	opacity: 1;
	pointer-events: none;
	transition: opacity .1s;
}

.portfolio_search__string:focus ~ .portfolio_search__words {
	opacity: 0;
	pointer-events: none;
}

.portfolio_search__string:focus ~ .portfolio_search__words .portfolio_search__word {
	pointer-events: none;
}

.portfolio_search__word {
	background: #ffba00;
	float: left; 
	line-height: 32px;
	padding: 0 10px 0 7px;
	border-radius: 2px;
	pointer-events: all;
}

.portfolio_search__word + .portfolio_search__word {
	margin-left: 3px;
}

.search_word__close {
	display: block;
	background: #fff;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	text-align: center;
	float: right;
	margin: 6px 0 0 12px;
	color: #ffba00;
	font-size: 18px;
	cursor: pointer;	
}

.search_word__close::before {
	content: "\d7";
	line-height: 20px;
	display: block;
}

.portfolio__header {
	font-weight: 700;
	line-height: 56px;
	font-size: 13px;
}

.order_switcher {
	overflow: hidden;
	float: right;
	margin-top: 16px;
}

.switcher__option {
	float: left;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
	padding: 0 8px;
}

/*
.switcher__option.active {
	background: #2e2f7d;
	border-radius: 3px;
	color: #fff;
}
*/

.portfolio_images {
	min-height: calc(100vh - 565px);
}

.portfolio__image {
	background: #fff;
	padding: 8px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.portfolio__image.checked {
	background: #ffba00;
}

.image__toolbar {
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	height: 30px;
	background: rgba(0, 0, 0, 0.5);	
	z-index: 2;
	transition: top .3s;
}

.portfolio__image.checked .image__toolbar,
.portfolio__image:hover .image__toolbar {
	top: 0px;
}

.image__checkbox {
	z-index: 1;
	position: absolute;	
	top: 3px;
	left: 8px;
}

.image__remove {
	z-index: 1;
	position: absolute;	
	top: 5px;
	right: 8px;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
}

.image__img_wrapper {
	height: 130px;
	width: 100%;
	position: relative;
	z-index: 0;
	background: #d7d7d7;
}

.portfolio__image.checked .image__img_wrapper {
	background: transparent;
}

.image__img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	
}

.image__sales,
.image__free {
	line-height: 24px;
	background: #ffba00;
	text-align: center;
	width: calc(50% - 4px);
	float: left;
	margin: 20px 0 12px;
}

.portfolio__image.checked .image__sales, 
.portfolio__image.checked .image__free {
	background: #fff;
}

.image__free {
	margin-left: 8px;
}

.image__free::before {
	font-size: 10px;
    font-weight: 700!important;	
	margin-right: 5px;
}

.portfolio__bottom {
	overflow: hidden;
	position: relative;
}

.portfolio__pagination {
	overflow: hidden;
	position: relative;
	float: left;
}

.pagination__prev,
.pagination__next {
	background: url('../i/sprite.png') no-repeat;
	background-position: -40px -325px;
	width: 7px;
	height: 17px;
	display: block;
	cursor: pointer;
	float: left;
	position: relative;
	top: 6px;	
}

.pagination__prev {
	transform: rotate(180deg);
}

.pagination__next {

}

.pagination__wrapper {
	overflow: hidden;
	float: left;
	margin: 0 20px;
}

.pagination__page {
	float: left;
	width: 28px;
	color: #2f327b;
	line-height: 28px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

.pagination__page.active {
	background: #2f327b;
	color: #fff;
	border-radius: 2px;
	margin: 0 0px;
}

.pagination__page.active:hover {
	background: #3b3fa0;
}

.portfolio__pagesize {
	float: right;
}

.pagesize__wrapper {
	float: left;
}

.pagesize__text {
	float: left;
	line-height: 28px;
	margin-right: 5px;
}

/********************************************/
/*					HELP 					*/
/********************************************/

.help_content {

	margin-top: 21px;
}



.help_b {
	line-height: 30px;
	display: inline-block;
	padding: 10px 30px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 22px;
}

@media (min-width: 960px) {
	.help_content {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 1280px) { 
	.help_content {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 1440px) { 
	.help_content {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
}

.help_b__title {
	color: #262626;
	position: relative;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 1px;
}

.help_contains {

}

.help_b__link {
	transition: color .1s;
	color: #5c5cd0;
	font-size: 15px;
}
.help_b__link:hover {
	color: #cc5c5c;
}


/* help modals */

.help__modal {
	width: 780px;
	border-radius: 0px;
	padding: 80px;
}

.help_modal__close {
	color: #5e5e5e;
}

/* help question */

.help_question__w {
	position: relative;
	overflow: hidden;
	background-color: #FFF;
	margin: auto;
}

.help_question__cat_title {
	font-size: 48px;
	line-height: 48px;
	font-weight: 300;
	color: #000;
	text-align: center;
	margin-bottom: 30px;
}

.help_question__sidebar_item {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 20px;
	color: #5c5ccc;
}

.help_question__sidebar_item.active {
	color: #cc5c5c
}

.help_question__sidebar_link {
	color: inherit;
}

.help_question__question {
	color: #000;
	font-size: 36px;
	line-height: 44px;
	font-weight: 300;
}



.help_question__wrapper {
	padding: 29px 29px 40px 39px;
	overflow: hidden;
}

.help_question__sidebar {
	float: left;
	padding: 0;
	margin-top: 3px;
}

.help_question__content {
	float: left;
	padding-left: 28px;
}

.help_question__sidebar .sidebar__item {
	font-size: 15px;
    line-height: 18px;
    margin-bottom: 12px;
}

.help_question__sidebar .sidebar__item.active {
	font-weight: 700;
}

.help_question__content .question__answer {
	font-size: 15px;
    line-height: 24px;
}

.help_question__content .question__header {
	font-size: 18px;
	margin-bottom: 13px;
    font-weight: 700;
}

.question__answer a {
	color: #5c5ccc;
}

.question__answer a:hover {
	color: #cc5c5c;
}

.question__author {
	font-size: 13px;
	line-height: 22px;
	color: #8c8c8c;
	margin-top: 20px;
}

.question__footer {
	margin-top: 26px;
	overflow: hidden;
}

.question__footer_title {
	font-size: 15px;
    font-weight: 700;
	margin-bottom: 16px;
}

.help__btn {
	border: 1px solid #e0e0e0;
	color: #595959;
	font-size: 14px;
	width: 80px;
    height: 40px;
	border-radius: 4px;
	display: block;
	transition: all .2s;
}

.help__btn-ingroup {
	border-radius: 0px;
	float: left;
}

.help__btn-ingroup + .help__btn-ingroup {
	border-left: none!important;
}

.help__btn-ingroup:nth-of-type(1) {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.help__btn-ingroup:nth-last-of-type(1) {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.help__btn.active,
.help__btn:not(.disabled):hover {
	color: #ffffff;
	background: #6979b8;
	border: 1px solid #6979b8;
}

.help__btn.active {
	cursor: default;
}

.help__btn.disabled {
	opacity: 0.8;
	cursor: default;
}

.help_b__btn {
	float: right;
	display: none;
}

.help_b__list .help_b__list {
	margin-left: 0px;
    margin-top: -3px;
    line-height: 24px;
}

.help_b__list .help_b__list li a:before {
	content: "—";
	display: inline;
	margin-right: 4px;
}

.back_to_all {
	color: #2f327b;
	font-size: 13px;
	position: absolute;
	top: 20px;
    left: 35px;
	font-weight: 600;
}


.back_to_all:before {
    position: absolute;
    margin: auto;
    top: 3px;
    left: calc(-100% - 17px);
    right: 0;
    width: 10px;
    height: 10px;
    content: " ";
    transform: rotate(45deg);
    -webkit-transform: scaleX(0.8) rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-left: 1px solid #2f327b;
    border-bottom: 1px solid #2f327b;
}

.document__content {
	padding: 30px 30px;
}

.plain_text {
	font-size: 15px;
	line-height: 24px;
}

.plain_text ul li {
	margin-bottom: 16px;
}

.plain_text ul ul {
	margin: 20px 0 20px 28px;
}

.plain_text ul ul li {
	margin: 0px 0 16px;
}

.plain_text h3 {
	font-weight: 700;
	margin: 24px 0 24px;
}

.plain_text a {
	color: #2f327b;
}

.text_page__filelink {
	text-align: left;
}

.text_page__date, .text_page__filelink {
    font-size: 15px;
    width: 50%;
    float: left;
    margin-bottom: 26px;
}

.text_page__date+.text_page__filelink {
    text-align: right;
    float: right;
}

.text_page__filelink a {
	color: #2f327b;
	font-weight: 600;
}

.text_page__filelink a:hover {
	color: #cc5c5c;
}

.text_page__filelink+.faq_question__answer {
    margin-top: 62px;
}


.block:only-of-type {
	min-height: 593px;
}

