@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?1gy0n1');
    src:    url('fonts/icomoon.eot?1gy0n1#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?1gy0n1') format('truetype'),
        url('fonts/icomoon.woff?1gy0n1') format('woff'),
        url('fonts/icomoon.svg?1gy0n1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
    content: "\e92d";
}
.icon-ftp:before {
    content: "\e900";
}
.icon-pause:before {
    content: "\e901";
}
.icon-play:before {
    content: "\e902";
}
.icon-place:before {
    content: "\e903";
}
.icon-squares:before {
    content: "\e904";
}
.icon-door:before {
    content: "\e905";
}
.icon-money-contour:before {
    content: "\e906";
}
.icon-ok:before {
    content: "\e907";
}
.icon-spidometer:before {
    content: "\e908";
}
.icon-plus-contour:before {
    content: "\e909";
}
.icon-cloud-upload:before {
    content: "\e90a";
}
.icon-cloud:before {
    content: "\e90b";
}
.icon-cloud-loading:before {
    content: "\e90c";
}
.icon-hammer:before {
    content: "\e90d";
}
.icon-pen:before {
    content: "\e90e";
}
.icon-dashed-square:before {
    content: "\e90f";
}
.icon-cloud-upload-squared:before {
    content: "\e910";
}
.icon-folders:before {
    content: "\e911";
}
.icon-mail:before {
    content: "\e912";
}
.icon-basket-contour:before {
    content: "\e913";
}
.icon-wallet:before {
    content: "\e914";
}
.icon-angle:before {
    content: "\e915";
}
.icon-eye:before {
    content: "\e916";
}
.icon-settings:before {
    content: "\e917";
}
.icon-heart-contur:before {
    content: "\e918";
}
.icon-dashed-circle:before {
    content: "\e919";
}
.icon-cloud-upload-circle:before {
    content: "\e91a";
}
.icon-csv:before {
    content: "\e91b";
}
.icon-alert:before {
    content: "\e91c";
}
.icon-link:before {
    content: "\e91d";
}
.icon-reload-p:before {
    content: "\e91e";
}
.icon-case:before {
    content: "\e91f";
}
.icon-chans:before {
    content: "\e920";
}
.icon-star:before {
    content: "\e921";
}
.icon-calc:before {
    content: "\e922";
}
.icon-docs:before {
    content: "\e923";
}
.icon-smile:before {
    content: "\e924";
}
.icon-smile-sadsad:before {
    content: "\e925";
}
.icon-smile-sad:before {
    content: "\e926";
}
.icon-reload:before {
    content: "\e927";
}
.icon-statistic:before {
    content: "\e928";
}
.icon-out:before {
    content: "\e929";
}
.icon-money:before {
    content: "\e92a";
}
.icon-plus:before {
    content: "\e92b";
}
.icon-basket:before {
    content: "\e92c";
}
.icon-bell:before {
    content: "\e92e";
}
.icon-remove:before {
    content: "\e92f";
}
.icon-clock:before {
    content: "\e930";
}
.icon-checkbox:before {
    content: "\e931";
}

